html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.post-container {
    margin: 20px auto;
    padding: 15px;
    background-color: #808080;
    border: 2px solid #cfcfcf;
    border-radius: 5px;
    width: 65%;
}

.post-content {
    margin: 10px 0px;
    padding: 10px;
    background-color: white;
    min-height: 60px;
    border-radius: 5px;
}
